.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.buttons {
  border: 2px solid black;
  background-color: #4CAF50;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}

/* Green */
.successes {
  border-color: white;
  color: white;
}

.successes:hover {
  background-color: white;
  color: #4CAF50;
  border-color: #4CAF50;
}


.btn-googleplus {
  background: #E93F2E;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #b72213;
}
.btn-googleplus:link, .btn-googleplus:visited {
  color: #fff;
}
.btn-googleplus:active, .btn-googleplus:hover {
  background: #b72213;
  color: #fff;
}

.wrapper {
    text-align: center;
}


calendar-container {
  position: relative;
  padding-bottom: 75% !important;
  height: 0;
  overflow: hidden;
}
calendar-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}


